---
import { Icon } from "astro-icon/components";
const { data } = Astro.props;
---

<div
  class="bg-bg w-full rounded-xl border-[0.75px] lg:border-2 border-gray p-2 lg:p-4 flex justify-between"
>
  <div class="aspect-square h-16 lg:h-24">
    <img class="rounded-md" src={data.image.src} alt="" />
  </div>
  <div
    class="text-white font-display font-normal text-sm lg:text-lg flex text-center items-center justify-center w-full"
  >
    <span class="text-md px-8">{data.title}</span>
  </div>
</div>
