---
import PresaveLink from "../link-page/PresaveLink.astro";
import RegularLink from "../link-page/RegularLink.astro";
---

<div class="grid grid-cols-1 w-full px-4 text-black gap-4">
  <PresaveLink />
  <RegularLink />
  <RegularLink />
  <RegularLink />
  <RegularLink />
</div>
