---

---

<div
  class="flex flex-col items-center bg-black w-full rounded-xl border p-3 border-[#2d2d2d] gap-3"
>
  <div class="flex flex-col items-center text-[#e8ddd3] w-full">
    <span class="font-bold text-xl">SONG NAME</span>
    <span class="font-normal text-xs">RELEASES MARCH 27</span>
  </div>

  <button
    class="flex flex-col items-center px-8 py-2 bg-blue-300 text-[#e8ddd3] rounded-xl"
  >
    <span class="text-md text-[#0d0d0d]">PRESAVE NOW</span>
  </button>
</div>
