---
import { Icon } from "astro-icon/components";
---

<div class="flex bg-black w-full rounded-xl border p-3 border-[#2d2d2d]">
  <div class="w-full flex">
    <div class="h-14 aspect-square">
      <img
        src="https://ucarecdn.com/aa177329-baf8-40c5-8a70-bc42957a5f1c/-/scale_crop/500x500/smart/"
        alt=""
        class="rounded-md"
      />
    </div>

    <div class="flex items-center col-span-3 w-full justify-center">
      <span class="text-sm text-[#e8ddd3] font-medium"
        >Watch my interview with Snoop Dogg</span
      >
    </div>
  </div>
</div>
