---
import BaseLayout from "../layouts/BaseLayout.astro";
import SectionLayout from "../components/ui/SectionLayout.astro";
---

<BaseLayout>
  <SectionLayout
    pageTitle="WHO WE ARE"
    pageDescription="Music's Most Wanted is a trailblazing independent record label on a misson to empower underground artists and elevate them to mainstream success."
  >
    <div
      class="pt-12 px-6 prose mx-auto lg:prose-lg !text-white font-obviously_body text-center"
    >
      <h3 class="text-blue uppercase">Our Beginnings</h3>
      <p class="text-white">
        Born in the heart of Waterloo, Ontario—an unlikely hotbed for
        hip-hop—MMW emerged as a champion of the local music scene, giving a
        platform to raw, untapped talent. We've since grown to work with artists
        not only across Ontario and Canada, but throughout North America, while
        remaining deeply connected to our roots.
      </p>
      <h2 class="text-blue uppercase">Our Sound</h2>
      <p class="text-white">
        At MMW, we live and breathe rap and R&B, with a passion for uncovering
        the freshest, most authentic sounds bubbling beneath the surface. We
        believe in the power of music to tell stories, break boundaries, and
        spark change.
      </p>
      <h2 class="text-blue uppercase">Our Artists</h2>
      <p class="text-white">
        Our roster is a testament to our commitment to discovering and nurturing
        emerging talent. From Apostoli to Jrugs, Wavy to TrillNagi, each artist
        brings a unique voice and perspective to the MMW family. Our artists
        have collaborated with some of the biggest names in the industry, and
        our live shows regularly showcase the vibrant energy and creativity that
        define the MMW sound.
      </p>
      <h2 class="text-blue uppercase">Our Future</h2>
      <p class="text-white">
        At MMW, we're not just building a label; we're building a movement. We
        envision a future where underground artists are recognized for their
        talent and given the resources they need to thrive. We aim to become a
        leading force in the global rap and R&B scene, continuing to push
        boundaries and discover the next generation of stars.
      </p>
      <h2 class="text-blue uppercase">Join The Movement</h2>
      <p class="text-white">
        Discover the sounds of Music's Most Wanted and be part of a musical
        revolution that's changing the game.
      </p>
    </div>
  </SectionLayout>
</BaseLayout>
