---
import HomeLayout from "../layouts/HomeLayout.astro";
import { EmblaCarousel } from "../components/hero-carousel/HeroCarousel.jsx";
import { sanityClient } from "sanity:client";

const homeSlides = await sanityClient.fetch(`*[_type == "heroSlide"]`);
---

<HomeLayout>
  <section
    class="w-screen h-[calc(100svh-4rem)] scroll-none overflow-hidden mt-16 bg-bg"
  >
    <EmblaCarousel client:load slides={homeSlides} />
  </section>
</HomeLayout>
