---
import DynamicText from "./ui/DynamicText.astro";
---

<section class="w-[100vw] h-[100vh] flex flex-col items-center bg-black px-8">
  <h1 class="text-white font-eger text-[15rem] mt-[-3rem]">ARTISTS</h1>
</section>
