---
import Marquee from "./ui/Marquee.jsx";

const photos = ["efab28a1-06a6-430f-9418-9adb7bfb8013"];

const variables = `/-/scale_crop/720x1080/smart/`;
---

<section class="px-6 text-white flex flex-col gap-16 mt-32">
  <div class="flex flex-col gap-4 justify-center text-center items-center">
    <h1 class="title text-3xl text-blue">THE WATCHLIST</h1>
    <p class="subtitle text-xl tracking-wide text-center">
      Who's about to blow up?<br />Our artists are defining the next generation
      of music.<br /><br />Music's Most Wanted presents <br />The Watchlist.
    </p>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <a href="/artists/jrugs">
      <div
        class="relative hover:scale-105 transition-transform duration-300 hover:cursor-pointer group"
      >
        <span class="title text-lg absolute bottom-0 p-3 z-20">JRUGS</span>
        <div
          class="absolute w-full h-full bg-gradient-to-t from-bg via-transparent to-transparent z-10"
        >
        </div>
        <img
          src="https://ucarecdn.com/aa177329-baf8-40c5-8a70-bc42957a5f1c/-/scale_crop/720x800/smart/"
          class="object-cover rounded-2xl grayscale group-hover:grayscale-0 transition-all duration-300"
        />
      </div>
    </a>
    <div
      class="relative hover:scale-105 transition-transform duration-300 hover:cursor-pointer group"
    >
      <span class="title text-lg absolute bottom-0 p-3 z-20">APOSTOLI</span>
      <div
        class="absolute w-full h-full bg-gradient-to-t from-bg via-transparent to-transparent from-10% to-40% z-10"
      >
      </div>
      <img
        src="https://ucarecdn.com/8c647619-b682-4904-9564-b3f29304911b/-/scale_crop/720x800/center/"
        class="object-cover rounded-2xl grayscale group-hover:grayscale-0 transition-all duration-300"
      />
    </div>
    <div
      class="relative hover:scale-105 transition-transform duration-300 hover:cursor-pointer group"
    >
      <span class="title text-lg absolute bottom-0 p-3 z-20">JRUGS</span>
      <div
        class="absolute w-full h-full bg-gradient-to-t from-bg via-transparent to-transparent from-10% to-40% z-10"
      >
      </div>
      <img
        src="https://ucarecdn.com/8c647619-b682-4904-9564-b3f29304911b/-/scale_crop/720x800/center/"
        class="object-cover rounded-2xl grayscale group-hover:grayscale-0 transition-all duration-300"
      />
    </div>
  </div>
</section>
