---
import Marquee from "./ui/Marquee.astro";
import HeroImages from "./ui/HeroImages.astro";
import DynamicText from "./ui/DynamicText.astro";

const photos = [
  "8c647619-b682-4904-9564-b3f29304911b",
  "3578904b-9b36-4632-8501-f9fa04146e12",
  "efab28a1-06a6-430f-9418-9adb7bfb8013",
  "ca33b197-b310-4a0e-b304-cd6be5b101de",
  "57054ff0-e63c-49f8-8e6a-9ad74df87701",
  "6e1092d9-042c-46dd-88f1-aaa96db0e44e",
  "594f8202-d83d-4296-8483-a8adc3134535",
  "52578b44-ffce-4c4a-b08f-83ea8c795212",
  "025b7a1a-859a-44a7-ac8d-d61286efbdcc",
];

const variables = `/-/scale_crop/1080x720/smart/-/grayscale/`;
---

<section class="w-screen h-full flex flex-col bg-black relative">
  <!-- Home to the underground image-->
  <div
    class="absolute flex flex-col justify-center h-screen items-center w-screen top-0 z-40 drop-shadow-2xl drop-shadow-black"
  >
    <div
      class="flex flex-col items-center justify-between w-[90vw] drop-shadow-xl drop-shadow-black"
    >
      <img
        src="https://ucarecdn.com/5405459e-6829-4b6c-befd-203318239843/-/preview/1000x437/"
        alt=""
      />
    </div>
  </div>

  <!-- Looping images -->
  <div class="w-full h-[100svh] overflow-hidden relative">
    <div class="w-full h-full bg-[rgb(0,0,0,0.5)] z-10 absolute"></div>
    <div class="animate-loop-scroll w-full h-full overflow-hidden">
      <div
        class="w-full h-full absolute bg-contain mix-blend-screen z-50 opacity-40 bg-[url('https://ucarecdn.com/ff77a161-2ef3-4048-9dc9-6bcf2128daff/-/preview/1000x606/')]"
      >
      </div>
      <div class="w-full h-full absolute bg-gray-500 opacity-15 z-40"></div>
      <div class="flex flex-col gap-8 w-full h-full [&>*]:rounded-md pb-4">
        {
          photos.map((source) => (
            <HeroImages source={source} variables={variables} />
          ))
        }
      </div>
    </div>

    <div class="animate-loop-scroll w-full h-full" aria-hidden="true">
      <div
        class="w-full h-full absolute bg-contain mix-blend-screen z-50 opacity-40 bg-[url('https://ucarecdn.com/ff77a161-2ef3-4048-9dc9-6bcf2128daff/-/preview/1000x606/')]"
      >
      </div>
      <div class="w-full h-full absolute bg-gray-500 opacity-15 z-40"></div>
      <div class="flex flex-col gap-8 w-full h-full [&>*]:rounded-md pt-4">
        {
          photos.map((source) => (
            <HeroImages source={source} variables={variables} />
          ))
        }
      </div>
    </div>
  </div>
</section>
