---
import { Image } from "astro:assets";
import concertVideo from "../images/concert-BLUECRT.webp";
import hwyVideo from "../images/hwy-BLUECRT-FRAME.webp";
import monitorVideo from "../images/hero-video-square-lossless.mp4";
const photos = [
  "8c647619-b682-4904-9564-b3f29304911b",
  "3578904b-9b36-4632-8501-f9fa04146e12",
  "efab28a1-06a6-430f-9418-9adb7bfb8013",
  "ca33b197-b310-4a0e-b304-cd6be5b101de",
  "57054ff0-e63c-49f8-8e6a-9ad74df87701",
  "6e1092d9-042c-46dd-88f1-aaa96db0e44e",
  "594f8202-d83d-4296-8483-a8adc3134535",
  "52578b44-ffce-4c4a-b08f-83ea8c795212",
  "025b7a1a-859a-44a7-ac8d-d61286efbdcc",
];

const variables = `/-/scale_crop/1080x720/smart/-/grayscale/`;
---

<section class="w-full h-[calc(100svh-4rem)] mt-16 bg-bg">
  <div class="w-full h-full flex items-start justify-center">
    <video autoplay muted playsinline loop>
      <source src={monitorVideo} type="video/mp4" />
    </video>
  </div>
  <div>
    <h1 class="text-4xl text-white title">HOME TO THE UNDERGROUND</h1>
  </div>
</section>
