---
import NavMenu from "../components/ui/NavMenu.astro";

import "../css/main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://api.fontshare.com" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap"
      rel="stylesheet"
    />
    <title>Music's Most Wanted</title>
  </head>
  <body>
    <NavMenu />
    <slot />
  </body>
</html>
