---
const { source, variables } = Astro.props;
---

<div class="relative flex">
  <div class="absolute h-full w-12 flex items-center justify-center">
    <span
      class="text-sm font-mono font-light text-orange-300 rotate-[-90deg] whitespace-nowrap"
    >
      MUSICSMOSTWANTED.COM
    </span>
  </div>

  <div class="px-12">
    <img src=`https://ucarecdn.com/${source}${variables}` />
  </div>

  <div
    class="absolute h-full w-12 flex items-center justify-center right-0 top-0"
  >
    <span
      class="text-sm font-mono font-light text-orange-300 rotate-[90deg] whitespace-nowrap"
    >
      SEE YOU SOON
    </span>
  </div>
</div>
